@use "variables" as var;
@use "functions" as func;

html, body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var.$roboto-font;
  font-size: var.$font-size;
  color: func.clr(neutral, light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: func.clr(neutral, dark);
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
